<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8" />
        <title>Suitest translation demo</title>
        <link rel="stylesheet" type="text/css" href="suitest-test-line.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <section>
            <h1>Plain text</h1>
            <div>
                <%- include("translations", {translations: translations, type: "plainText"}) %>
            </div>
        </section>
        <section>
            <h1>Formatted text</h1>
            <div>
                <%- include("translations", {translations: translations, type: "formattedText"}) %>
            </div>
        </section>
        <section>
            <h1>HTML</h1>
            <div>
                <%- include("translations", {translations: translations, type: "html"}) %>
            </div>
        </section>
    </body>
</html>
