<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Suitest translation demo</title>
        <link rel="stylesheet" type="text/css" href="suitest-test-line.css" />
        <style>
            section {margin: 20px;}
        </style>
    </head>
    <body>
        <section>
            <h1>Plain text</h1>
            <div>
                <% for (let [line] of translations) { %>
                    <pre><%- line%></pre>
                <% } %>
            </div>
        </section>
        <section>
            <h1>Formatted text</h1>
            <div>
                <% for (let [, line] of translations) { %>
                    <pre><%- line%></pre>
                <% } %>
            </div>
        </section>
        <section>
            <h1>HTML</h1>
            <div>
                <% for (let [,, line] of translations) { %>
                    <%- line%>
                <% } %>
            </div>
        </section>
    </body>
</html>
